*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

/* the modal that appears when "Generate Password" button is clicked */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  /* transform and top/left % are centering the modal
  using scale(0) to hide modal when is is not needed */
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
  border: 1px solid hsl(206, 17%, 28%);
  border-radius: 5px;
  /* setting a high z index so modal appears on top of other elements */
  z-index: 20;
  background-color: white;
  width: 500px;
  max-width: 70%;
}

/* adding .active class to modal so it can be toggled on and off */
/* using scale as methold of showing/hiding modal so we can
transition smoothly onclick events */
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modalContent {
  padding: 7px 5px;
  display: flex;
  justify-content: center;
}

.form {
  row-gap: 5px;
}

.pwordLengthContainer {
  display: flex;
  align-items: center;
}

.numberInput {
  width: 3rem;
}

.modalBtns {
  padding-bottom: 7px;
  padding-left: 7px;
  display: flex;
  justify-content: center;
  transition: .3s;
}

.closeBtn {
  margin-right: 5px;
  padding: 3px 5px;
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 4px;
  transition: 0.15s;
}

.confirmBtn{
  background-color: hsl(360, 91%, 36%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  padding: 3px 5px;
  transition: 0.3s;
}

.confirmBtn:hover {
  background-color: hsl(0, 75%, 35%);
  text-decoration: none;
  cursor: pointer;
}

.closeBtn:hover {
  background-color: #bfbebe;
  text-decoration: none;
  cursor: pointer
}

/* adding a background effect when modal is opened */
#overlay {
  position: fixed;
  opacity: 0;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  /* making sure overlay does not impede click events */
  pointer-events: none;
}

/* adding active class to overlay to toggle on and off */
#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

#showPrompts {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

#showPrompts:hover {
  background-color: hsl(0, 75%, 35%);
  text-decoration: none;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  #showPrompts {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  #showPrompts {
    font-size: 0.8rem;
  }
}
